.d-none {
    display: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.header {
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #04427c;
    padding: 6px 20px;
    font-size: larger;
}

.filter-div {
    display: flex;
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    padding: 6px;
    flex-wrap: wrap;
    z-index: 2;
    color: #c5c0c0;
}

.likeBtn {
    position: fixed;
    top: 30%;
    right: 20%;
}

.likeBtn input[type="checkbox"][name="checkLike"] {
    width: 30px;
    position: fixed;
    height: 30px;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

.likeBtn img {
    background: white;
    height: 18px;
    border-radius: 50%;
    padding: 7px;
}

input[type="checkbox"][name="checkLike"]:checked + img {
    background: red; 
}

.filtered {
    padding: 6px;
    background-color: #ff1414d6;
    color: white;
    font-size: 0.8rem;
    border-radius: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.current-zone {
    padding: 6px;
    background-color: #18f15bc4;
    color: white;
    font-size: 0.8rem;
    border-radius: 12px;
    position: fixed;
    top: 80px;
    right: 12px;
}

.day-time-saving {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: #c5c0c0;
}

.date {
    color: #c5c0c0;
    position: fixed;
    right: 9%;
    bottom: 176px;
}

.day-time-saving label {
    margin-left: 10px;
}

.dst-info {
    padding: 10px;
    position: fixed;
    bottom: 70px;
    color: #c5c0c0;
    left: 10px;
}

.am-pm {
    right: 9%;
    color: #84b720;
    font-size: 2rem;
    position: fixed;
    bottom: 194px;
}

.start {
margin-bottom: 12px;
}

.start span:first-of-type {
    padding: 4px;
    background-color: red;
    border-radius: 4px;
    color: white;
    margin-right: 6px;
}

.end span:first-of-type {
    padding: 4px;
    background-color: #bf0ec1;
    border-radius: 4px;
    color: white;
    margin-right: 6px;
}

input {
    flex: 1;
    margin-left: 10px;
    border-radius: 6px;
    background-color: #000000;
    color: #f0f0f0;
    padding: 10px;
    font-size: 1rem;
    width: 180px;
}

input:focus {
    outline: none;
    border-color: #399dfa;
}

.watch {
    height: 200px;
    width: 200px;
    background-image: url('../icon/unnamed.png');
    background-size: 100%;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.watch::before {
    content: '';
    width: 9px;
    height: 9px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(15, 15, 15) !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watch .sec {
    position: absolute;
    width: 2px;
    height: 95px;
    background-color:  #f9052c;
    bottom: 26%;
    left: 50%;
    transform-origin: left;
}

.watch .min {
    position: absolute;
    width: 3px;
    height: 75px;
    background-color: #6b1ddc;
    bottom: 32%;
    left: 50%;
    transform-origin: left;
}

.watch .hr {
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: #0d0d0e;
    bottom: 38%;
    left: 50%;
    transform-origin: left;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333131;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 14px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f54f04;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f54f04;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fav {
    position: fixed;
    left: 20px;
    bottom: 167px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

.fav__title {
    position: fixed;
    bottom: 176px;
    left: 68px;
    color: #c5c0c0;
    font-size: 1rem;
}

button.fav__trigger {
    border-radius: 60px;
    border: black;
    color: #ff0000bd;
    background-color: #999a9757;
    padding: 10px;
    padding-bottom: 6px;
}

button.fav__trigger img {
    height: 18px;
}

.fav__option-wrapper {
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
}

.fav__option-wrapper.show {
    transform: scale(1);
}

button.fav__option {
    border-radius: 60px;
    padding: 10px 8px;
    border: black;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: #861990;
    color: white;
}

button.fav__trigger:focus, button.fav__option:focus {
    outline: none;
}